.bar {
  display: flex;
  justify-content: space-between;
   
  @include tablets {
  flex-direction: column;
  padding: rem(95px) 0 rem(122px) 0;
  }

  @include phones {
  padding: rem(85px) 0 rem(112px) 0;
  }
}



.bx-wrapper {
  box-shadow: none; 
  border: none; 
  background: transparent; 
}
// .bar-deactive {
//   display: none;
// }
.right-bar {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: rem(66px);
  position: relative;

  @include tablets {
  width: auto;
  text-align: center;
  margin-left: 0;
  justify-content: center;
  align-items: center;
   }
}

.left-bar {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablets {
  width: 100%; //bylo auto
  margin-bottom: rem(28px);
  }
}

.left-bar__img {
  min-width: rem(474px);
  min-height: rem(424px);

  @include tablets {
  width: rem(370px);
  height: rem(337px);
  object-fit: cover;
   }

  @include phones {
  width: rem(370px);
  height: rem(304px);
  object-fit: cover;
  }
}

.right-bar__icon {
  background: rgb(134, 195, 215);
  border-radius: 5px;
  width: 91px;
  height: 91px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: rem(48px);
  position: relative;

   &:hover {
     cursor: pointer;
     background: rgb(96, 170, 204);
   }

   @include tablets {
   display: block;
   display: none;
   }
}
.right__icon-chocolate {
  display: flex;
  flex-direction: column;
  color: white;
  padding-top: 8px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.title-bar {
  font-size: rem(36px);
  flex: 1;
  margin-bottom: rem(22px);
  text-align: start;

  @include tablets {
  font-size: rem(30px);
  text-align: center;
  }
}

.right-bar__desc {
  margin-bottom: rem(43px);

  @include phones {
  padding: 0 rem(55px);
  }
}

.info__list {
  display: flex;
  flex-direction: row;
}

.info__item {
  margin: 0 rem(55px) rem(52px) 0;

   @include tablets {
   margin-bottom: rem(40px);
   }
}
.weight {
  font-weight: bold;
  color: black;
}

.bar-price {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bar-price__money {
  font-size: rem(60px);
  margin-right: rem(30px);
  color: black;
}