.player__controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: rem(663px);
  height: rem(36px);
  background: #404040;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  @include tablets {
    width: rem(599px);
    height: rem(32px);
  }

  @include phones {
    width: rem(399px);
    height: rem(23px);
  }
}

.player__start {
  border: none;
  background: transparent;
  position: absolute;
  top: 32%;
  right: 41%;
  cursor: pointer;
}

.player__playback-button {
  border: none;
  background: transparent;
  margin: rem(3px) 0 0 rem(21px);
  cursor: pointer;

  @include tablets {
    margin: 0;
  }
 }

 .paused {
  width: rem(22px);
  height: rem(22px);
  background: transparent;
  border: none;
  margin: rem(3px) rem(3px) 0 rem(21px);
  cursor: pointer;

  &::before {
    content: "";
    background: #626262;
    border: none;
    height: rem(22px);
    width: rem(5px);
    display: block;
    border-radius: 3px;
    position: absolute;
    top: 5px;
    bottom: 0;
    left: rem(48px);

    @include tablets {
      width: rem(4px);
      height: rem(20px);
      position: absolute;
      left: rem(31px);
    }
  
      @include phones {
        width: rem(3px);
        height: rem(13px);
        position: absolute;
        left: rem(25px);
        
      }
    }
  
  &::after {
    content: "";
    background: #626262;
    border: none;
    height: rem(22px);
    width: rem(5px);
    display: block;
    border-radius: 3px;
    position: absolute;
    position: absolute;
    top: 5px;
    bottom: 0;
    left: rem(38px);

    @include tablets {
      width: rem(4px);
      height: rem(20px);
      position: absolute;
      left: rem(39px);
    }

    @include phones {
      width: rem(3px);
      height: rem(13px);
      position: absolute;
      left: rem(20px);
    }
  }
  }

  .player__volume {
    border: none;
    background: transparent;
    cursor: pointer;
  }


  .mute {
    background: #626262;
    width: rem(3px);
    height: rem(22px);
    transform: rotate(45deg);
  }
  
  .seek-bar {
    -webkit-appearance: none;
    height: 4px;
    width: rem(446px);
    border-radius:2px;
    outline: none;
    background: #626262;
    cursor: pointer;
  
      @include tablets {
        width: rem(399px);
      }
  
      @include phones {
        width: rem(269px);
      }
  }
  .seek-bar::-moz-range-track {
    height: 4px;
    width: rem(446px);
    border-radius:2px;
    outline: none;
    background: #626262;
    cursor: pointer;
    
  
      @include tablets {
        width: rem(399px);
      }
  
      @include phones {
        width: rem(269px);
      }
  }
  .seek-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: rem(14px);
    height: rem(14px);
    background:#626262;
    border-radius: rem(50px);
    transition:.1s;
    cursor:pointer;
  
    @include tablets {
      width: rem(12px);
      height: rem(12px);
    }
  
    @include phones {
      width: rem(9px);
      height: rem(9px);
    }
  }

  .seek-bar::-moz-range-thumb {
    width: rem(14px);
    height: rem(14px);
    background:#626262;
    border-radius: rem(50px);
    transition:.1s;
    cursor:pointer;
  
    @include tablets {
      width: rem(12px);
      height: rem(12px);
    }
  
    @include phones {
      width: rem(9px);
      height: rem(9px);
    }
  }
  .volume-bar {
    -webkit-appearance: none;
    border-radius:2px;
    width:rem(59px);
    height: rem(4px);
    outline: none;
    border: none;
    background: #626262;
    cursor: pointer;

    @include tablets {
      width: rem(54px);
    }

    @include phones {
      width: rem(37px);
    }

  }
  .volume-bar::-moz-range-track {
    -webkit-appearance: none;
    border-radius:2px;
    width:rem(59px);
    height: rem(4px);
    outline: none;
    border: none;
    background: #626262;
    cursor: pointer;

    @include tablets {
      width: rem(54px);
    }

    @include phones {
      width: rem(37px);
    }

  }
  .volume-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: rem(13px);
    height: rem(14px);
    background:#626262;
    border-radius:50px;
    transition:.1s;
    cursor:pointer;

    @include tablets {
      width: rem(12px);
      height: rem(12px);
    }
  
    @include phones {
      width: rem(9px);
      height: rem(9px);
    }
}
.volume-bar::-moz-range-thumb {
    width: rem(13px);
    height: rem(14px);
    background:#626262;
    border-radius:50px;
    transition:.1s;
    cursor:pointer;

    @include tablets {
      width: rem(12px);
      height: rem(12px);
    }
  
    @include phones {
      width: rem(9px);
      height: rem(9px);
    }
}