.hero {
  background: url("../images/узор.png") right bottom no-repeat;
  background-color: $blue;
  //height: 100vh;
  height: 100%;
  min-height: rem(650px);
  color: white;
  position: relative;

  @include tablets {
    background-position: right bottom 80%;
    height: fit-content;
  }

  @include phones {
    background: url("../images/узор-phones.png") right bottom 80% no-repeat;
    background-color: $blue;
  }

  &:before, &:after {
     @include tablets {
       display: none;
     }
   
  
  }

  &::after {
    content: url('../images/Лист\ 3.png');
    position: absolute;
    bottom: rem(-40px);
    left: 2%;
  }

  &::before {
    content: url('../images/CompositeLayer.png');
    position: absolute;
    bottom: rem(-40px);
    right: 0;
  }

}

.hero__badges-section {
  @include tablets {
    display: none;
  }
}

.hero__container {
  background: url("../images/Батончики.png") right center / 50% auto no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: rem(24px) 0 rem(45px);
  //width: $containerWidth;
  margin: 0 auto;

    @include tablets {
      background: none;
      width: 100%;
    }
  

}
.hero__title-section {
  width: 46%;

  @include tablets {
    width: 95%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &::before {
      content: "";
      width: rem(354px);
      height: rem(366px);
      background: url('./../../images/батончики-таблет.png') center center / contain no-repeat;
      margin-bottom: rem(23px);
    }

  }
}
.hero__main-title {
  font-size: rem(48px);
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: rem(15px);
  text-transform: uppercase;
  margin-bottom: 0;
}

.hero__title-desc {
  font-size: rem(21px);
  margin-bottom: rem(28px);
  padding-right: 10%;
   
   @include tablets {
     padding: 0 25%;
   }

}
