 .section-accordeon {
   background: url('/images/картинка.png'), #000000;
   position: relative;
   background-size: cover;
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
  }